<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Rehabilitación</h1>
            <h3 class="mb-4">
                <em>para pacientes con vestibulopatías</em>
            </h3>
            <img src="/img/op2.jpg" alt="hospital" height="500">
        </div>
    </header>
</main>