<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © PS 2024
    <a class="text-body" href="https://www.linkedin.com/in/valeria-edith-durruty-428456290/">Durruty, Valeria</a>
  </div>
  <!-- Copyright -->
</footer>