<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Cambiar contraseña</h3>
                </div>
                <div class="card-body">
                    <form action="/changepassword" method="POST">
                        <div class="form-group">
                            <label for="pass">Contraseña actual</label>
                            <input type="password" name="oldPass" class="form-control" placeholder="Contraseña actual" required>
                        </div>
                        <div class="form-group">
                            <label for="pass">Nueva contraseña</label>
                            <input type="password" name="newPass" class="form-control" placeholder="Nueva contraseña" required>
                        </div>
                        <div class="form-group">
                            <label for="pass">Confirme contraseña</label>
                            <input type="password" name="confirmPass" class="form-control" placeholder="Confirme contraseña" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Cambiar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>