<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">¡Felicitaciones!</h1>
        <p class="lead">Has completado todas las asignaciones de tu sesión.</p>
        <a class="btn btn-outline-primary" href="/profile">Volver a Perfil</a>
    </div>
</div>
